<div class="container" id="sessions">

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :login %><br />
    <%= f.text_field :login, autofocus: true, class: 'form-control', placeholder: 'Username' %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class:'form-control', placeholder: 'Password' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me, type: 'checkbox' %>
        <%= f.label :remember_me, type: 'checkbox' %>
      </label>
    </div>
  <% end -%>

  <div class="form-group">
    <%= f.submit "Log in", class: 'btn btn-default btn-sm' %>
  </div>
<% end %>

<div class="form-group">
  <%= render "devise/shared/links" %>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.hidden_field :login, autofocus: true, value:'guest' %>
  </div>

  <div class="field">
    <%= f.hidden_field :password, autocomplete: "off", value:'1234567890' %>
  </div>

  <div class="form-group">
    <%= f.submit "Guest Login", class: 'btn btn-default btn-sm' %>
  </div>
<% end %>

</div>
